* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
  font-size: 24px;
}

body {
  margin: auto;
  width: 90%;
  background-color: rgba(255, 235, 205, 0.457);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

button {
  height: 1.5em;
  padding: 0em .5em;
}

dialog {
  margin: auto;
  height: 12em;
  width: 20em;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
}

#text-area {
  margin: 1em;
  padding: 1em;
}

button[type=submit] {
  padding: 0em 2em;
}

#notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  height: 15em;
  width: 10em;
  margin: 1.5em 1em;
}

.name {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1em;
  line-height: 1.3em;
  text-align: center;
}

.message {
  height: 100%;
  width: 100%;
  margin-top: .5em;
  border: 2px solid black;
  border-radius: .5em;
  text-align: center;
  background-color: papayawhip;
}